In [3]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.11-py3-none-any.whl.metadata (32 kB)
Requirement already satisfied: packaging in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from kagglehub) (4.66.5)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\krishsh\appdata\local\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.11-py3-none-any.whl (63 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.11

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("maximilianfellhuber/cnc-machining-data")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/maximilianfellhuber/cnc-machining-data?dataset_version_number=2...

100%|███████████████████████████████████████████████████████████████████████████████| 928M/928M [00:15<00:00, 64.0MB/s]

Extracting files...

Path to dataset files: C:\Users\krishsh\.cache\kagglehub\datasets\maximilianfellhuber\cnc-machining-data\versions\2

In [17]:
import os
import pandas as pd

base_dir = r"C:\Users\krishsh\.cache\kagglehub\datasets\maximilianfellhuber\cnc-machining-data\versions\2"

data_records = []

for machine in ['M01', 'M02', 'M03']:
    machine_path = os.path.join(base_dir, machine)
    
    for i in range(15):
        op_folder = f'OP{i:02d}'
        op_path = os.path.join(machine_path, op_folder)

        if not os.path.exists(op_path):
            continue

        for condition in ['good', 'bad']:
            condition_path = os.path.join(op_path, condition)

            if not os.path.exists(condition_path):
                continue

            for file in os.listdir(condition_path):
                if file.lower().endswith(('.xlsx', '.xls', '.csv')):
                    file_path = os.path.join(condition_path, file)

                    try:
                        # Read file based on extension
                        if file.lower().endswith('.csv'):
                            df = pd.read_csv(file_path)
                        else:
                            df = pd.read_excel(file_path)

                        # Check if required columns exist
                        if all(col in df.columns for col in ['x', 'y', 'z']):
                            medians = df[['x', 'y', 'z']].median()

                            data_records.append({
                                'median_x': medians['x'],
                                'median_y': medians['y'],
                                'median_z': medians['z'],
                                'Operation_Number': op_folder,
                                'Machine_Number': machine,
                                'condition': condition,
                                'filename': file
                            })
                        else:
                            print(f"⚠️ Skipped (columns missing): {file_path}")
                    except Exception as e:
                        print(f"❌ Error reading {file_path}: {e}")

# Final DataFrame
final_df = pd.DataFrame(data_records)

# Save result
output_path = os.path.join(base_dir, 'cnc_filewise_medians.csv')
final_df.to_csv(output_path, index=False)

print(f"✅ Done! Data saved to: {output_path}")

✅ Done! Data saved to: C:\Users\krishsh\.cache\kagglehub\datasets\maximilianfellhuber\cnc-machining-data\versions\2\cnc_filewise_medians.csv

In [43]:
df = pd.read_csv(r'C:\Users\krishsh\.cache\kagglehub\datasets\maximilianfellhuber\cnc-machining-data\versions\2\cnc_filewise_medians.csv')
df

,median_x,median_y,median_z,Operation_Number,Machine_Number,condition,filename
0,-9.0,27.0,-1036.0,OP00,M01,good,M01_Aug_2019_OP00_000.csv
1,-9.0,27.0,-1036.0,OP00,M01,good,M01_Aug_2019_OP00_001.csv
2,-7.0,29.0,-1030.0,OP00,M01,good,M01_Aug_2019_OP00_003.csv
3,-9.0,37.0,-1020.0,OP00,M01,good,M01_Aug_2019_OP00_004.csv
4,-9.0,39.0,-1015.0,OP00,M01,good,M01_Aug_2019_OP00_005.csv
...,...,...,...,...,...,...,...
1697,21.0,19.0,-1022.0,OP13,M03,good,M03_Feb_2020_OP13_012.csv
1698,21.0,19.0,-1022.0,OP13,M03,good,M03_Feb_2020_OP13_013.csv
1699,15.0,13.0,-1022.0,OP13,M03,good,M03_Feb_2021_OP13_000.csv
1700,15.0,17.0,-1022.0,OP13,M03,good,M03_Feb_2021_OP13_001.csv
1701,15.0,17.0,-1022.0,OP13,M03,good,M03_Feb_2021_OP13_002.csv

In [45]:
df=df.drop(columns='filename')
df

      median_x  median_y  median_z Operation_Number Machine_Number condition
0         -9.0      27.0   -1036.0             OP00            M01      good
1         -9.0      27.0   -1036.0             OP00            M01      good
2         -7.0      29.0   -1030.0             OP00            M01      good
3         -9.0      37.0   -1020.0             OP00            M01      good
4         -9.0      39.0   -1015.0             OP00            M01      good
...        ...       ...       ...              ...            ...       ...
1697      21.0      19.0   -1022.0             OP13            M03      good
1698      21.0      19.0   -1022.0             OP13            M03      good
1699      15.0      13.0   -1022.0             OP13            M03      good
1700      15.0      17.0   -1022.0             OP13            M03      good
1701      15.0      17.0   -1022.0             OP13            M03      good

[1702 rows x 6 columns]

In [47]:
df['condition'] = df['condition'].map({'good':1,'bad':0})
df

      median_x  median_y  median_z Operation_Number Machine_Number  condition
0         -9.0      27.0   -1036.0             OP00            M01          1
1         -9.0      27.0   -1036.0             OP00            M01          1
2         -7.0      29.0   -1030.0             OP00            M01          1
3         -9.0      37.0   -1020.0             OP00            M01          1
4         -9.0      39.0   -1015.0             OP00            M01          1
...        ...       ...       ...              ...            ...        ...
1697      21.0      19.0   -1022.0             OP13            M03          1
1698      21.0      19.0   -1022.0             OP13            M03          1
1699      15.0      13.0   -1022.0             OP13            M03          1
1700      15.0      17.0   -1022.0             OP13            M03          1
1701      15.0      17.0   -1022.0             OP13            M03          1

[1702 rows x 6 columns]

In [49]:
operation_encoding = df.groupby('Operation_Number')['condition'].mean()
df['Operation_Number_encoded'] = df['Operation_Number'].map(operation_encoding)

machine_encoding = df.groupby('Machine_Number')['condition'].mean()
df['Machine_Number_encoded'] = df['Machine_Number'].map(machine_encoding)

In [51]:
df.drop(columns=['Operation_Number', 'Machine_Number'], inplace=True)

In [53]:
df

,median_x,median_y,median_z,condition,Operation_Number_encoded,Machine_Number_encoded
0,-9.0,27.0,-1036.0,1,0.988095,0.934489
1,-9.0,27.0,-1036.0,1,0.988095,0.934489
2,-7.0,29.0,-1030.0,1,0.988095,0.934489
3,-9.0,37.0,-1020.0,1,0.988095,0.934489
4,-9.0,39.0,-1015.0,1,0.988095,0.934489
...,...,...,...,...,...,...
1697,21.0,19.0,-1022.0,1,1.000000,0.983302
1698,21.0,19.0,-1022.0,1,1.000000,0.983302
1699,15.0,13.0,-1022.0,1,1.000000,0.983302
1700,15.0,17.0,-1022.0,1,1.000000,0.983302
1701,15.0,17.0,-1022.0,1,1.000000,0.983302

In [55]:
# Save result
output_path = os.path.join(base_dir, 'final_data.csv')
df.to_csv(output_path, index=False)

print(f"✅ Done! Data saved to: {output_path}")

✅ Done! Data saved to: C:\Users\krishsh\.cache\kagglehub\datasets\maximilianfellhuber\cnc-machining-data\versions\2\final_data.csv